body {
    font-family: 'Alegreya', serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;   
}

/* header stuff here*/
header {
    background-color: #ffdaba;
    padding: 1rem 2vw;  
}
header h1 {
    margin: 0;
    color: #a589c4;
}
header p {
    margin: 0;
    color: #a589c4;
    letter-spacing: 2px;
}

/* nav stuff here*/
nav {
    background-color: #cb99c8;
}
nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav ul li a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #fff2f2;
    font-weight: 600;
    display: block;
    padding: .65rem 2rem;
}
nav li.active a {
    background-color: #fff2f2;
    color: #cb99c8;
}
nav a:hover {
    color: #fff;
}


/*main stuff here*/
main {
    padding: 1rem 2vw;
}

main a:hover {
    color: #cb99c8;
}

main h1 {
    color: #a589c4;
}

main h2 {
    color: #cb99c8;
    margin-bottom: .2rem;
}

main p {
    color: #ffb54b;
    margin: 0 0 .3rem 0;
}
main a {
    color: #ffb54b;
}

main dl{
    padding: .5rem 3vw;
    background-color: #fff5fc;
}
main dl dt {
    color: #ffb54b;
    font-weight: 600;
}
main dl dd {
    color: #ffcc76;
    font-size: .9rem;
}

main ul {
    list-style: circle;
    padding: .5rem 3vw;
    width: 12.5rem; 
    background-color: #fff5fc;
    border: 1px solid #cb99c8;
    border-radius: 2px
}
main ul li {
    color: #ffcc76;
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main ol {
    padding: .5rem 3vw;
    width: 12.5rem; 
    background-color: #fff5fc;
    border: 1px solid #cb99c8;
    border-radius: 2px
}
main ol li {
    color: #ffcc76;
}

figure.wrapped {
    width: 30%;
    margin: 0 0 2% 2%;
    float: right; 
}
figure.wrapped img {
    width: 100%;
    height: auto;
}
figure.wrapped figcaption {
    text-align:center;
    font-size: .75rem;
    color: #a589c4;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
}

div.gallery figure {
    margin: 0.5rem 2% 0 0;
}

div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #a589c4;
}

/*footer stuff here*/
footer {
    background-color: #ffdaba;
    text-align: center;
    color: #a589c4;
    padding: .5rem 0;
    font-size: .8rem;
}
footer a {
    color: #a589c4;
}








